<%- include("partials/header.ejs") %>


    <div class="home-container">
        <div class="header-container">
            <h1>Welcome to TAMIMI BLOGS</h1>
            <h3>This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eaque blanditiis voluptatem non
                nesciunt magnam.</h3>
            <button><a href="/create">Create</a></button>
        </div>
        <div class="main-feature-container">
            <div id="feature-title">
                <h2>Why choose tamimi blog web-app?</h2>
                <img src="/images/icons8-blog-96.png" alt="">
            </div>
            <div class="feature-container">
                <div class="feat feature-1">
                    <h1>Feature 1</h1>
                    <p>This is description for feature 1</p>
                    <img id="feature-img" src="/images/reliable.jpg" alt="">
                </div>
                <div class="feat feature-2">
                    <h1>Feature 2</h1>
                    <p>This is description for feature 2</p>
                    <img id="feature-img" src="/images/reliable.jpg" alt="">
                </div>

            </div>
        </div>
    </div>



    <%- include("partials/footer.ejs") %>